:root {
    --bg-color-container: hsl(212, 36%, 90%);
    --bg-color-item-light: hsl(212, 43%, 65%);
    --bg-color-item-dark: hsl(208, 48%, 47%);
}

.container {
    display: grid;
    width: 900px;
    row-gap: 16px;
    column-gap: 16px;
    background-color: var(--bg-color-container);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 200px);
    grid-template-areas:
        ". . . block-1"
        "block-2 block-2 block-3 ."
        "block-2 block-2 block-4 block-5"
        ". . . ."
        ". block-6 block-7 block-7"
        "block-8 block-9 block-7 block-7"
        "block-10 . . .";
}

.item {
    display: flex;
    color: hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
}

#item-1 {
    grid-area: block-1;
    background-color: var(--bg-color-item-light);
}

#item-2 {
    grid-area: block-2;
    background-color: var(--bg-color-item-dark);
}

#item-3 {
    grid-area: block-3;
    background-color: var(--bg-color-item-light);
}

#item-4 {
    grid-area: block-4;
    background-color: var(--bg-color-item-light);
}

#item-5 {
    grid-area: block-5;
    background-color: var(--bg-color-item-light);
}

#item-6 {
    grid-area: block-6;
    background-color: var(--bg-color-item-light);
}

#item-7 {
    grid-area: block-7;
    background-color: var(--bg-color-item-dark);
}

#item-8 {
    grid-area: block-8;
    background-color: var(--bg-color-item-light);
}

#item-9 {
    grid-area: block-9;
    background-color: var(--bg-color-item-light);
}

#item-10 {
    grid-area: block-10;
    background-color: var(--bg-color-item-light);
}